.home{
	&-header{
		position: relative;
		padding-top:57%;
		min-height: 800px;
		&__leaf{
			&:before{
				content: '';
			    position: absolute;
			    top: 80%;
			    left: 0;
			    width: 11%;
    			height: 46%;
			    background: url(../img/tree-left.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    background-position: top left;
			    pointer-events: none;
			    z-index: 1;
			    animation: 5s ease-in-out infinite Mousex, 5s ease-in-out infinite lightAnimation;
			}
			&:after{
				content: '';
			    position: absolute;
			    top: 80%;
			    right: 0;
			    width: 20%;
    			height: 71%;
			    background: url(../img/tree-right.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    background-position: top right;
			    pointer-events: none;
			    z-index: 1;
			    animation: 5s ease-in-out infinite Mousex2, 5s ease-in-out infinite lightAnimation;
			}
		}
		&__bg{
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url(../img/home-header-bg.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position:top center;
				z-index: -1;
				pointer-events: none;
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url(../img/leaf.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position:top center;
				z-index: -1;
				pointer-events: none;
			}
		}
		.el__wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items:center;
			z-index: 1;
		}
		.el__logo__text{
			position: relative;
			padding-top: 220px;
			margin-bottom: 120px;
			animation: 1.5s ease-in-out infinite lightAnimation;
			&::before {
				content: '';
				position: absolute;
				top: 80px;
    			right: 18%;
				width:	105px;
				height: 97px;
				background: url(../img/dragon.png);
				background-repeat: no-repeat;
				background-size: contain;
				pointer-events: none;
				animation: 5s ease-in-out infinite Mousex2;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 56%;
				height: 90%;
				margin: auto;
				background-image: url(../img/home-island.png);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				z-index: -1;
				pointer-events: none;
				animation: 5s ease-in-out infinite Mousex;
			}
		}
		.el__scroll{
			font-family: 'Minecraft Ten';
			position: relative;
			display: flex;
    		align-items: center;
			font-size: 14px;
			line-height: 14px;
			color: #395AA5;
			writing-mode: vertical-rl;
    		text-orientation: upright;
    		&::after {
    			content: '';
    			display: block;
    			margin-top: 16px;
    			width: 23px;
    			height: 35px;
    			background: url(../img/ic-scroll-down.svg);
    			background-repeat: no-repeat;
    			background-size: contain;
    			z-index: -1;
    			pointer-events: none;
    			animation: 2s ease-in-out infinite Mousex;
    		}
		}
	}
	&-about{
		position: relative;
		font-size: 18px;
		line-height: 36px;
		color: #053B47;
		padding-bottom: 40px;
		&:before{
			content: '';
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 132%;
		    background-image: url(../img/home-about-bg.png);
		    background-repeat: no-repeat;
		    background-size: cover;
		    z-index: -1;
		    pointer-events: none;
		}
		.sc__header {
		    position: relative;
		    z-index: 1;
		}
		.sc__header__title{
			min-width: 494px;
			display: inline-block;
			padding: 60px 30px 80px 55px;
			background-image: url(../img/home-about-header.png);
			background-repeat: no-repeat;
			background-size: contain;
			text-shadow: 4px 4px 0 #4f0a24, 4px -4px 0 #4f0a24, -4px -4px 0 #4f0a24, -4px 4px 0 #4f0a24, 4px 3px 0 #4f0a24, 4px -3px 0 #4f0a24, -4px -3px 0 #4f0a24, -4px 3px 0 #4f0a24, 4px 2px 0 #4f0a24, 4px -2px 0 #4f0a24, -4px -2px 0 #4f0a24, -4px 2px 0 #4f0a24, 4px 1px 0 #4f0a24, 4px -1px 0 #4f0a24, -4px -1px 0 #4f0a24, -4px 1px 0 #4f0a24, 4px 0px 0 #4f0a24, 4px 0px 0 #4f0a24, -4px 0px 0 #4f0a24, -4px 0px 0 #4f0a24, 3px 4px 0 #4f0a24, 3px -4px 0 #4f0a24, -3px -4px 0 #4f0a24, -3px 4px 0 #4f0a24, 3px 3px 0 #4f0a24, 3px -3px 0 #4f0a24, -3px -3px 0 #4f0a24, -3px 3px 0 #4f0a24, 3px 2px 0 #4f0a24, 3px -2px 0 #4f0a24, -3px -2px 0 #4f0a24, -3px 2px 0 #4f0a24, 3px 1px 0 #4f0a24, 3px -1px 0 #4f0a24, -3px -1px 0 #4f0a24, -3px 1px 0 #4f0a24, 3px 0px 0 #4f0a24, 3px 0px 0 #4f0a24, -3px 0px 0 #4f0a24, -3px 0px 0 #4f0a24, 2px 4px 0 #4f0a24, 2px -4px 0 #4f0a24, -2px -4px 0 #4f0a24, -2px 4px 0 #4f0a24, 2px 3px 0 #4f0a24, 2px -3px 0 #4f0a24, -2px -3px 0 #4f0a24, -2px 3px 0 #4f0a24, 2px 2px 0 #4f0a24, 2px -2px 0 #4f0a24, -2px -2px 0 #4f0a24, -2px 2px 0 #4f0a24, 2px 1px 0 #4f0a24, 2px -1px 0 #4f0a24, -2px -1px 0 #4f0a24, -2px 1px 0 #4f0a24, 2px 0px 0 #4f0a24, 2px 0px 0 #4f0a24, -2px 0px 0 #4f0a24, -2px 0px 0 #4f0a24, 1px 4px 0 #4f0a24, 1px -4px 0 #4f0a24, -1px -4px 0 #4f0a24, -1px 4px 0 #4f0a24, 1px 3px 0 #4f0a24, 1px -3px 0 #4f0a24, -1px -3px 0 #4f0a24, -1px 3px 0 #4f0a24, 1px 2px 0 #4f0a24, 1px -2px 0 #4f0a24, -1px -2px 0 #4f0a24, -1px 2px 0 #4f0a24, 1px 1px 0 #4f0a24, 1px -1px 0 #4f0a24, -1px -1px 0 #4f0a24, -1px 1px 0 #4f0a24, 1px 0px 0 #4f0a24, 1px 0px 0 #4f0a24, -1px 0px 0 #4f0a24, -1px 0px 0 #4f0a24, 0px 4px 0 #4f0a24, 0px -4px 0 #4f0a24, 0px -4px 0 #4f0a24, 0px 4px 0 #4f0a24, 0px 3px 0 #4f0a24, 0px -3px 0 #4f0a24, 0px -3px 0 #4f0a24, 0px 3px 0 #4f0a24, 0px 2px 0 #4f0a24, 0px -2px 0 #4f0a24, 0px -2px 0 #4f0a24, 0px 2px 0 #4f0a24, 0px 1px 0 #4f0a24, 0px -1px 0 #4f0a24, 0px -1px 0 #4f0a24, 0px 1px 0 #4f0a24, 0px 0px 0 #4f0a24, 0px 0px 0 #4f0a24, 0px 0px 0 #4f0a24, 0px 0px 0 #4f0a24, 0 0 0 #4f0a24;
			margin-bottom: 16px;
			animation: 3s ease-in-out infinite lightAnimation;
		}
		.el__content{
			p{
				margin-bottom: 36px;
			}
		}
	}

	&-gameplay{
		position: relative;
		padding: 100px 0 60px;
		.container{
			position: relative;
			&:before{
				content: '';
			    position: absolute;
			    top: 0;
			    right: 0;
			    width: 100%;
			    max-width: 680px;
			    height: 100%;
			    background-image: url(../img/game-play-circle.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    z-index: -1;
			    pointer-events: none;
			}
		}
		.el__excerpt{
			font-size: 18px;
			line-height: 32px;
			p{
				margin-bottom: 8px;
			}
			.-strong{
				position: relative;
				padding-left: 30px;
				color: #F7345B;
				&:before{
					content: '';
					position: absolute;
					top: 2px;
					left: 0;
					width: 23px;
					height: 24px;
					background-image: url(../img/icon-darts.svg);
					background-repeat: no-repeat;
					background-size: contain;
					z-index: -1;
					pointer-events: none;
				}
			}
		}

		.el__character{
			&__title{
				font-weight: 400;
				font-size: 20px;
				line-height: 28px;
				text-shadow: 0px 3px 1px #2E3E4D;
				margin-bottom: 12px;
			}
			&__box{
				flex: 0 0 auto;
				position: relative;
				width: 252px;
				height: 356px;
				padding: 30px;
				background-image: url(../img/game-play-box-bg.svg);
				background-repeat: no-repeat;
				background-size: contain;

				font-size: 14px;
				line-height: 24px;
				color: #FFFFFF;


				&:before{
					content: '';
					position: absolute;
					top: 15px;
				    right: 100%;
				    width: 50px;
				    height: 50px;
					background-image: url(../img/game-play-box-arrow.svg);
					background-repeat: no-repeat;
					background-size: contain;
					z-index: -1;
					pointer-events: none;
				}
			}
		}
		.gameplay-tabs{
			border-bottom: 1px solid #A7DCE3;
			margin-bottom: 36px;
			flex-wrap: nowrap;
			.nav-item{
				margin: 0 18px;
				&:first-child{
					margin-left: 0;
				}
			}
			.nav-link{
				position: relative;
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				text-transform: capitalize;
				color: #FFFFFF;
				white-space: nowrap;
				padding: 8px 0;
				background: transparent;
				border: 0;
				text-shadow: 2px 2px 0 #223973, 2px -2px 0 #223973, -2px -2px 0 #223973, -2px 2px 0 #223973, 2px 1px 0 #223973, 2px -1px 0 #223973, -2px -1px 0 #223973, -2px 1px 0 #223973, 2px 0px 0 #223973, 2px 0px 0 #223973, -2px 0px 0 #223973, -2px 0px 0 #223973, 1px 2px 0 #223973, 1px -2px 0 #223973, -1px -2px 0 #223973, -1px 2px 0 #223973, 1px 1px 0 #223973, 1px -1px 0 #223973, -1px -1px 0 #223973, -1px 1px 0 #223973, 1px 0px 0 #223973, 1px 0px 0 #223973, -1px 0px 0 #223973, -1px 0px 0 #223973, 0px 2px 0 #223973, 0px -2px 0 #223973, 0px -2px 0 #223973, 0px 2px 0 #223973, 0px 1px 0 #223973, 0px -1px 0 #223973, 0px -1px 0 #223973, 0px 1px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0 0 0 #223973;
				transition: all .5s;
				&:before{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 0;
					height: 4px;
					margin: 0 auto;
					background-color: #F7345B;
					transition: all .5s;
				}
				&:after{
					content: '';
				    position: absolute;
				    bottom: 30px;
				    left: 0;
				    right: 0;
				    margin: auto;
				    width: 23px;
				    height: 35px;
				    background-image: url(../img/ic-tab-arrow-down.svg);
				    background-repeat: no-repeat;
				    background-size: contain;
				    z-index: -1;
				    pointer-events: none;
				    opacity: 0;
				    transition: all .5s;
				    animation: 2s ease-in-out infinite Mousex;
				}

				&.active{
					text-shadow: 2px 2px 0 #f7345b, 2px -2px 0 #f7345b, -2px -2px 0 #f7345b, -2px 2px 0 #f7345b, 2px 1px 0 #f7345b, 2px -1px 0 #f7345b, -2px -1px 0 #f7345b, -2px 1px 0 #f7345b, 2px 0px 0 #f7345b, 2px 0px 0 #f7345b, -2px 0px 0 #f7345b, -2px 0px 0 #f7345b, 1px 2px 0 #f7345b, 1px -2px 0 #f7345b, -1px -2px 0 #f7345b, -1px 2px 0 #f7345b, 1px 1px 0 #f7345b, 1px -1px 0 #f7345b, -1px -1px 0 #f7345b, -1px 1px 0 #f7345b, 1px 0px 0 #f7345b, 1px 0px 0 #f7345b, -1px 0px 0 #f7345b, -1px 0px 0 #f7345b, 0px 2px 0 #f7345b, 0px -2px 0 #f7345b, 0px -2px 0 #f7345b, 0px 2px 0 #f7345b, 0px 1px 0 #f7345b, 0px -1px 0 #f7345b, 0px -1px 0 #f7345b, 0px 1px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0 0 0 #f7345b;
					&:before{
						width: 100%;
						height: 4px;
						background-color: #F7345B;
					}
					&:after{
						opacity: 1;
					}
				}

			}
		}
		.tab-content{
			.el__items{
				display: flex;
				flex-wrap: wrap;
				gap: 16px;
				.el__item{
					position: relative;
					width: 72px;
					cursor: pointer;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-image: url(../img/border-character.svg);
						background-repeat: no-repeat;
						background-size: contain;
						pointer-events: none;
						opacity: 0;
						z-index: 1;
						transition: all .5s;
					}
					&.active{
						&::before {
							opacity: 1;
						}
					}
					&__thumb{
						position: relative;

						img{
							width: 72px;
							height: 72px;
							object-fit: cover;
						}
					}
				}
			}
		}
	}

	&-gategame{
		position: relative;
		padding: 60px 0 200px;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 123%;
			background-image: url(../img/home-gategame.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position:top center;
			z-index: -1;
			pointer-events: none;

		}
		.el__header__icon{
			animation: 3s ease-in-out infinite Mousex2, 3s ease-in-out infinite lightAnimation;
		}
		.el__pattern{
			pointer-events: none;
			&:before{
				content: '';
				position: absolute;
				bottom: 10%;
				left: 8%;
				width: 12%;
    			height: 46%;
				background-image: url(../img/gategame-left.png);
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				pointer-events: none;
				animation: 3s ease-in-out infinite lightAnimation;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: 10%;
				right: 8%;
				width: 11%;
    			height: 37%;
				background-image: url(../img/gategame-right.png);
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				pointer-events: none;
				animation: 3s ease-in-out infinite lightAnimation;
			}
		}
	}

	&-clgt{
		position: relative;
		padding: 100px 0 30px;

		.el__sub{
			font-weight: 400;
			font-size: 28px;
			line-height: 38px;
			color: #223973;
			margin-bottom: 32px;
			strong{
				color: #F7345B;
			}
		}
		.el__excerpt{
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #223973;
		}
		.clgt-tabs{
			margin-bottom: 12px;
			&__wrap{
				position: relative;
			}
			.nav-item{
				position: relative;
				width: 89px;
				&:nth-child(2n){
					top: -60px;
				}
				&:nth-child(3){
					top: -100px;
				}
			}
			.nav-link{
				position: relative;
				width: 100%;
				padding: 0;
				background: transparent;
				border: 0;
				&:before{
					content: '';
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate3d(-50%, -50%, 0);
				    width: 77px;
				    height: 77px;
				    border-radius: 50%;
				    border: 2px solid #F7345B;
				    background-color: #FFE8E8;
				    opacity: 0;
				    transition: all .5s;
				}

				.dnfix__thumb{
					padding-top: 100%;
				}

				&.active{
					animation: 2s ease-in-out infinite lightAnimation2;
					&:before{
						opacity: 1;
					}
				}
			}
		}

		.el__item{
			text-align: center;
			&__thumb{
				margin-bottom: 36px;
			}
			&__title{
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				text-transform: uppercase;
				color: #223973;
			}
		}
	}

	&-token{
		position: relative;
		padding: 30px 0 60px;
		&:before{
			content: '';
			position: absolute;
			top: 60px;
			left: 0;
			width: 100%;
			height: 74%;
			background-image: url(../img/home-token-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			pointer-events: none;
		}
		.sc-content{
			padding: 66px 170px 80px;
			background: #0F4A57;
			border-radius: 40px;
		}
		.el__col{
			&:first-child{
				text-align: right;
				.el__item__thumb{
					margin-left: auto;
				}
			}
		}
		.el__item{
			color: #fff;
			&__thumb{
				width: 175px;
				margin-bottom: 34px;
			}
			.dnfix__thumb{
				padding-top: 100%;
			}
			&__title{
				font-weight: 400;
				font-size: 28px;
				line-height: 38px;
				text-transform: capitalize;
				color: #F7345B;
				margin-bottom: 14px;
			}
			&__sub{
				font-weight: 400;
				font-size: 18px;
				line-height: 32px;
			}
			&__excerpt{
				font-weight: 400;
				font-size: 12px;
				line-height: 20px;
			}
			hr{
				background-color: #27626F;
			}
		}
	}


	&-earn{
		position: relative;
		padding: 60px 0 230px;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 32%;
			max-height: 210px;
			background-image: url(../img/home-earn-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
			z-index: -1;
			pointer-events: none;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 40%;
			height: 108%;
			background-image: url(../img/home-earn-top-bg.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: left;
			z-index: -2;
			pointer-events: none;

		}

		.earn-tabs{

			.nav-item{

				&:not(:last-child){
					margin-right: 20px;
				}
			}
			.nav-link{
				position: relative;
				width: 235px;
				height: 86px;
				font-weight: 400;
				font-size: 28px;
				line-height: 28px;
				background-color: transparent;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				/* identical to box height */

				text-align: center;
				text-transform: uppercase;

				color: #FFFFFF;
				text-shadow: 4px 4px 0 #4f0a24, 4px -4px 0 #4f0a24, -4px -4px 0 #4f0a24, -4px 4px 0 #4f0a24, 4px 3px 0 #4f0a24, 4px -3px 0 #4f0a24, -4px -3px 0 #4f0a24, -4px 3px 0 #4f0a24, 4px 2px 0 #4f0a24, 4px -2px 0 #4f0a24, -4px -2px 0 #4f0a24, -4px 2px 0 #4f0a24, 4px 1px 0 #4f0a24, 4px -1px 0 #4f0a24, -4px -1px 0 #4f0a24, -4px 1px 0 #4f0a24, 4px 0px 0 #4f0a24, 4px 0px 0 #4f0a24, -4px 0px 0 #4f0a24, -4px 0px 0 #4f0a24, 3px 4px 0 #4f0a24, 3px -4px 0 #4f0a24, -3px -4px 0 #4f0a24, -3px 4px 0 #4f0a24, 3px 3px 0 #4f0a24, 3px -3px 0 #4f0a24, -3px -3px 0 #4f0a24, -3px 3px 0 #4f0a24, 3px 2px 0 #4f0a24, 3px -2px 0 #4f0a24, -3px -2px 0 #4f0a24, -3px 2px 0 #4f0a24, 3px 1px 0 #4f0a24, 3px -1px 0 #4f0a24, -3px -1px 0 #4f0a24, -3px 1px 0 #4f0a24, 3px 0px 0 #4f0a24, 3px 0px 0 #4f0a24, -3px 0px 0 #4f0a24, -3px 0px 0 #4f0a24, 2px 4px 0 #4f0a24, 2px -4px 0 #4f0a24, -2px -4px 0 #4f0a24, -2px 4px 0 #4f0a24, 2px 3px 0 #4f0a24, 2px -3px 0 #4f0a24, -2px -3px 0 #4f0a24, -2px 3px 0 #4f0a24, 2px 2px 0 #4f0a24, 2px -2px 0 #4f0a24, -2px -2px 0 #4f0a24, -2px 2px 0 #4f0a24, 2px 1px 0 #4f0a24, 2px -1px 0 #4f0a24, -2px -1px 0 #4f0a24, -2px 1px 0 #4f0a24, 2px 0px 0 #4f0a24, 2px 0px 0 #4f0a24, -2px 0px 0 #4f0a24, -2px 0px 0 #4f0a24, 1px 4px 0 #4f0a24, 1px -4px 0 #4f0a24, -1px -4px 0 #4f0a24, -1px 4px 0 #4f0a24, 1px 3px 0 #4f0a24, 1px -3px 0 #4f0a24, -1px -3px 0 #4f0a24, -1px 3px 0 #4f0a24, 1px 2px 0 #4f0a24, 1px -2px 0 #4f0a24, -1px -2px 0 #4f0a24, -1px 2px 0 #4f0a24, 1px 1px 0 #4f0a24, 1px -1px 0 #4f0a24, -1px -1px 0 #4f0a24, -1px 1px 0 #4f0a24, 1px 0px 0 #4f0a24, 1px 0px 0 #4f0a24, -1px 0px 0 #4f0a24, -1px 0px 0 #4f0a24, 0px 4px 0 #4f0a24, 0px -4px 0 #4f0a24, 0px -4px 0 #4f0a24, 0px 4px 0 #4f0a24, 0px 3px 0 #4f0a24, 0px -3px 0 #4f0a24, 0px -3px 0 #4f0a24, 0px 3px 0 #4f0a24, 0px 2px 0 #4f0a24, 0px -2px 0 #4f0a24, 0px -2px 0 #4f0a24, 0px 2px 0 #4f0a24, 0px 1px 0 #4f0a24, 0px -1px 0 #4f0a24, 0px -1px 0 #4f0a24, 0px 1px 0 #4f0a24, 0px 0px 0 #4f0a24, 0px 0px 0 #4f0a24, 0px 0px 0 #4f0a24, 0px 0px 0 #4f0a24, 0 0 0 #4f0a24;
				border: 0;
				opacity: 0.5;
				transition: all .5s;

				&:after {
				    content: '';
				    position: absolute;
				    bottom: -40px;
				    left: 0;
				    right: 0;
				    margin: auto;
				    width: 23px;
				    height: 35px;
				    background-image: url(../img/ic-scroll-down.svg);
				    background-repeat: no-repeat;
				    background-size: contain;
				    z-index: -1;
				    pointer-events: none;
				    opacity: 0;
				    transition: all .5s;
				    animation: 2s ease-in-out infinite Mousex;
				}


				&.-s1{
					background-image: url(../img/ic-button-1.svg);
				}
				&.-s2{
					background-image: url(../img/ic-button-2.svg);
				}
				&.active{
					opacity: 1;
					&:after {
						opacity: 1;
					}
				}

			}
		}
		.el__text{
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: #223973;
			margin-bottom: 26px;
		}
		.el__box{
			min-height: 166px;
			font-weight: 400;
			font-size: 12px;
			line-height: 24px;
			color: #223973;
			&__title{
				font-size: 14px;
				line-height: 24px;
				color: #F7345B;
				margin-bottom: 16px;
			}
		}

		&__ic{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 43px);
			z-index: 1;
			pointer-events: none;
			&::before {
				content: '';
				position: absolute;
				bottom: 10%;
				left: 8%;
				width: 16.5%;
				height: 64%;
				background: url(../img/home-earn-left.png);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: bottom left;
				animation: 2s ease-in-out infinite lightAnimation2;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 10%;
				right: 0;
				width: 11%;
				height: 61%;
				background: url(../img/home-earn-tree.png);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: bottom right;
				animation: 2s ease-in-out infinite lightAnimation2;
			}
			.-ic{
				&::after {
					content: '';
					position: absolute;
					bottom: 27%;
					right: 11%;
					width: 5%;
					height: 24%;
					background: url(../img/home-earn-character.png);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: bottom right;
				}
			}
		}
	}

	&-marketing{
		position: relative;
		padding: 80px 0 200px;
		color: #fff;
		background: linear-gradient(180deg, #7F4D2E 0%, #6B3D20 96.35%);
		.container{
			position: relative;
			z-index: 1;
		}

		.sc__header{
			width: 182%;
    		padding: 15px 0;
			&:before{
				content: '';
				position: absolute;
				top: 30%;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url(../img/home-marketing-pattern-header.png);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				z-index: -1;
			}
			&:after{
				content: '';
			    position: absolute;
			    top: 83%;
			    right: 0;
			    width: 518px;
			    height: 428px;
			    background-image: url(../img/home-marketing-pattern-xe.png);
			    background-repeat: no-repeat;
			    background-size: contain;
				background-position: center;
			    animation: 2s ease-in-out infinite lightAnimation2;
			}
		}
		.el__box{
			border: 3px solid #895636;
			ul{
				.li__key{
					flex: 0 0 auto;
					width: 215px;
					border-right: 3px solid #895636;

					font-weight: 400;
					font-size: 28px;
					line-height: 38px;
					text-transform: capitalize;
					text-shadow: 2px 2px 0 #f7345b, 2px -2px 0 #f7345b, -2px -2px 0 #f7345b, -2px 2px 0 #f7345b, 2px 1px 0 #f7345b, 2px -1px 0 #f7345b, -2px -1px 0 #f7345b, -2px 1px 0 #f7345b, 2px 0px 0 #f7345b, 2px 0px 0 #f7345b, -2px 0px 0 #f7345b, -2px 0px 0 #f7345b, 1px 2px 0 #f7345b, 1px -2px 0 #f7345b, -1px -2px 0 #f7345b, -1px 2px 0 #f7345b, 1px 1px 0 #f7345b, 1px -1px 0 #f7345b, -1px -1px 0 #f7345b, -1px 1px 0 #f7345b, 1px 0px 0 #f7345b, 1px 0px 0 #f7345b, -1px 0px 0 #f7345b, -1px 0px 0 #f7345b, 0px 2px 0 #f7345b, 0px -2px 0 #f7345b, 0px -2px 0 #f7345b, 0px 2px 0 #f7345b, 0px 1px 0 #f7345b, 0px -1px 0 #f7345b, 0px -1px 0 #f7345b, 0px 1px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0 0 0 #f7345b;
				}
				.el__value{
					flex-grow: 1;
				}
			}
			li{
				display: flex;
				&:not(:last-child){
					border-bottom: 3px solid #895636;
				}
				>*{
					padding: 24px;
				}
			}
		}

		.sc__pattern{
			pointer-events: none;
			&:before{
				content: '';
				position: absolute;
				bottom: 2%;
				left: 0;
				width: 10%;
				height: 49%;
				background-image: url(../img/home-marketing-pattern-character.png);
				background-repeat: no-repeat;
				background-size: contain;
			}
			&:after{
				content: '';
			    position: absolute;
			    bottom: -5%;
			    left: 0;
			    width: 100%;
			    height: 50%;
			    max-height: 394px;
			    background-image: url(../img/home-marketing-cloud.png);
			    background-repeat: no-repeat;
			    background-size: cover;
			    background-position: bottom center;
			    z-index: 1;
			}
			&--xe{
				// &:before{
				// 	content: '';
				//     position: absolute;
				//     top: 25%;
				//     right: 7%;
				//     width: 27%;
				//     height: 54%;
				//     background-image: url(../img/home-marketing-pattern-xe.png);
				//     background-repeat: no-repeat;
				//     background-size: contain;
				//     animation: 2s ease-in-out infinite lightAnimation2;
				// }
			}
		}
	}

	&-tokenmoics{
		position: relative;
		padding: 80px 0 100px;

		font-weight: 700;
		font-size: 18px;
		line-height: 26px;
		color: #223973;
		.sc__header{
			margin-bottom: 80px;
		}
		.el__box{
			position: relative;
			width: 490px;
			height: 490px;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 400;
			font-size: 15px;
			line-height: 16px;
			text-align: center;
			color: #223973;
			&:before{
				content: '';
				position: absolute;
				top: -50px;
				left: -36px;
				width: 546px;
				height: 546px;
				background-image: url(../img/home-tokenmoics-circle.png);
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				pointer-events: none;
			}
			&__thumb{
				margin: 0 auto 30px;
				animation: 2s ease-in-out infinite lightAnimation2;
				img{
					width: auto;
					max-width: 150px;
					max-height: 140px;
				}
			}
			&__title{
				font-weight: 400;
				font-size: 22px;
				line-height: 39px;
				color: #223973;
			}
			&__number{
				font-family: '04b';
				font-weight: 400;
				font-size: 34px;
				line-height: 48px;
				color: #F7345B;
			}
			&__percent{
				[class^="el--"]{
					position: absolute;
				}
				&>div{
					font-weight: 400;
					font-size: 22px;
					line-height: 30px;
					color: #DBA92A;
					text-align: left;
					>p:last-child{
						font-weight: 400;
						font-size: 14px;
						line-height: 17px;
						color: #223973;
					}
				}
				.el{
					&--1{
						top: 4%;
					    left: -14%;
					    text-align: right;
					}
					&--2{
						top: 33%;
					    left: -19%;
					    text-align: right;
					    color: #8DDB2A;
					}
					&--3{
						top: 64%;
    					left: -15%;
    					text-align: right;
    					color: #2ADBB0;
					}
					&--4{
						top: 92%;
					    left: 2%;
					    text-align: right;
					    color: #07B0F9;
					}
					&--5{
						top: 73%;
    					left: 102%;
    					color: #DC5FB2;
					}
					&--6{
						top: -7%;
    					left: 4%;
    					text-align: right;
    					color: #DB542A;
					}
					&--7{
						top: -13%;
    					left: 29%;
    					color: #D72F4D;
    					text-align: right;
					}
					&--8{
						top: -11%;
    					left: 78%;
						color: #DD51AD;
					}
					&--9{
						top: 2%;
    					left: 91%;
    					color: #782ADB;
					}
					&--10{
						top: 19%;
					    left: 104%;
					    color: #4D2ADB;
					}
				}
			}
		}
		.table{
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #223973;
			background-color: #DCFBFF;
			thead{
				font-size: 14px;
				line-height: 16px;
				background-color: #F7345B;
				color: #fff;
			}
			tbody{
				td{
					padding: 12px 10px;
				}
			}
			> :not(caption) > * > *{
			 	padding: 10px;
			 	border: 1px solid #C2ECF1;
			}
		}
	}
	&-roadmap{
		position: relative;
		padding: 100px 0 60px;
		&:before{
			content: '';
			position: absolute;
			top: -3%;
			right: 0;
			width: 19.5%;
			height: 74%;
			background-image: url(../img/home-roadmap-right.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: right;
			z-index: -1;
			pointer-events: none;
			// animation: 2s ease-in-out infinite lightAnimation2;
		}
		&:after{
			content: '';
			position: absolute;
			top: 5%;
			left: 0;
			width: 100%;
			height: 147%;
			background-image: url(../img/home-roadmap-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			pointer-events: none;
			animation: 2s ease-in-out infinite Mousex3;
		}

		&__slider{
			position: relative;
			margin-left: 100px;
			.slider__wrap{
				max-width: 700px;
				margin: 0 auto;
			}
		}

		.flickity-enabled .slider__item__wrap {
			display: flex;
		  	min-height: 100%;
		}

		.flickity:not(.-full){
			--bs-gutter-x: 16px;
		}
		.flickity-prev-next-button{
			&.previous {
			    left: -40px;
			}
			&.next {
			    right: -40px;
			}
		}
		.flickity-page-dots{
			display: none;
    		bottom: -20px;
		}
		.el__item{
			padding: 24px;
			background: rgba(234, 252, 255, 0.55);
			font-weight: 400;
			font-size: 12px;
			line-height: 22px;
			color: #223973;
			&__title{
				font-size: 22px;
				line-height: 38px;
				text-transform: capitalize;
				color: #FFFFFF;
				text-shadow: 3px 3px 0 #f7345b, 3px -3px 0 #f7345b, -3px -3px 0 #f7345b, -3px 3px 0 #f7345b, 3px 2px 0 #f7345b, 3px -2px 0 #f7345b, -3px -2px 0 #f7345b, -3px 2px 0 #f7345b, 3px 1px 0 #f7345b, 3px -1px 0 #f7345b, -3px -1px 0 #f7345b, -3px 1px 0 #f7345b, 3px 0px 0 #f7345b, 3px 0px 0 #f7345b, -3px 0px 0 #f7345b, -3px 0px 0 #f7345b, 2px 3px 0 #f7345b, 2px -3px 0 #f7345b, -2px -3px 0 #f7345b, -2px 3px 0 #f7345b, 2px 2px 0 #f7345b, 2px -2px 0 #f7345b, -2px -2px 0 #f7345b, -2px 2px 0 #f7345b, 2px 1px 0 #f7345b, 2px -1px 0 #f7345b, -2px -1px 0 #f7345b, -2px 1px 0 #f7345b, 2px 0px 0 #f7345b, 2px 0px 0 #f7345b, -2px 0px 0 #f7345b, -2px 0px 0 #f7345b, 1px 3px 0 #f7345b, 1px -3px 0 #f7345b, -1px -3px 0 #f7345b, -1px 3px 0 #f7345b, 1px 2px 0 #f7345b, 1px -2px 0 #f7345b, -1px -2px 0 #f7345b, -1px 2px 0 #f7345b, 1px 1px 0 #f7345b, 1px -1px 0 #f7345b, -1px -1px 0 #f7345b, -1px 1px 0 #f7345b, 1px 0px 0 #f7345b, 1px 0px 0 #f7345b, -1px 0px 0 #f7345b, -1px 0px 0 #f7345b, 0px 3px 0 #f7345b, 0px -3px 0 #f7345b, 0px -3px 0 #f7345b, 0px 3px 0 #f7345b, 0px 2px 0 #f7345b, 0px -2px 0 #f7345b, 0px -2px 0 #f7345b, 0px 2px 0 #f7345b, 0px 1px 0 #f7345b, 0px -1px 0 #f7345b, 0px -1px 0 #f7345b, 0px 1px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0 0 0 #f7345b;
				margin-bottom: 16px;
			}
			&__excerpt{
			}
			&__meta{
				padding: 24px;
			}
			ol{
				list-style: decimal inside;
			}
			ul{
				list-style: disc inside;
				padding-left: 16px;
			}
		}
		.el__pattern{
			&:before{
				content: '';
				position: absolute;
				top: 26%;
				left: 0;
				width: 17%;
				height: 56%;
				background-image: url(../img/home-roadmap-character.png);
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				pointer-events: none;
			}
		}
	}

	&-team{
		position: relative;
		padding: 40px 0 100px;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 62%;
			background-image: url(../img/home-team-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			pointer-events: none;
			background-position: bottom;
		}
		.sc__header__icon{
			margin-bottom: 24px;
			img{
				width: auto;
				max-height: 154px;
			}
		}
		.sc__content{
			max-width: 746px;
			margin: 0 auto;
		}
		.flickity {
		    --bs-gutter-x: 100px;
		}
		.slider__item__wrap {

		}
		.el__item{
			width: 100%;
			max-width: 318px;
			margin: 0 auto;
			padding: 48px;
			text-align: center;
			background: #E8FCFF;
			&__thumb{
				margin-bottom: 30px;
			}
			.dnfix__thumb{
				padding-top: 152%;
			}
			&__title{
				font-weight: 400;
				font-size: 28px;
				line-height: 38px;
				text-transform: capitalize;
				color: #F7345B;
				margin-bottom: 8px;
			}
			&__excerpt{
				font-weight: 400;
				font-size: 12px;
				line-height: 22px;
				color: #223973;
			}
		}
	}
	&-records{
		position: relative;
		padding: 120px 0 80px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: #223973;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 86%;
			background: url(../img/home-record-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center top;
			z-index: -1;
			pointer-events: none;
		}
		.el__text{
			font-weight: 400;
			font-size: 28px;
			line-height: 38px;
			text-transform: capitalize;
			color: #FFFFFF;
			margin-bottom: 80px;
			text-shadow: 4px 4px 0 #f7345b, 4px -4px 0 #f7345b, -4px -4px 0 #f7345b, -4px 4px 0 #f7345b, 4px 3px 0 #f7345b, 4px -3px 0 #f7345b, -4px -3px 0 #f7345b, -4px 3px 0 #f7345b, 4px 2px 0 #f7345b, 4px -2px 0 #f7345b, -4px -2px 0 #f7345b, -4px 2px 0 #f7345b, 4px 1px 0 #f7345b, 4px -1px 0 #f7345b, -4px -1px 0 #f7345b, -4px 1px 0 #f7345b, 4px 0px 0 #f7345b, 4px 0px 0 #f7345b, -4px 0px 0 #f7345b, -4px 0px 0 #f7345b, 3px 4px 0 #f7345b, 3px -4px 0 #f7345b, -3px -4px 0 #f7345b, -3px 4px 0 #f7345b, 3px 3px 0 #f7345b, 3px -3px 0 #f7345b, -3px -3px 0 #f7345b, -3px 3px 0 #f7345b, 3px 2px 0 #f7345b, 3px -2px 0 #f7345b, -3px -2px 0 #f7345b, -3px 2px 0 #f7345b, 3px 1px 0 #f7345b, 3px -1px 0 #f7345b, -3px -1px 0 #f7345b, -3px 1px 0 #f7345b, 3px 0px 0 #f7345b, 3px 0px 0 #f7345b, -3px 0px 0 #f7345b, -3px 0px 0 #f7345b, 2px 4px 0 #f7345b, 2px -4px 0 #f7345b, -2px -4px 0 #f7345b, -2px 4px 0 #f7345b, 2px 3px 0 #f7345b, 2px -3px 0 #f7345b, -2px -3px 0 #f7345b, -2px 3px 0 #f7345b, 2px 2px 0 #f7345b, 2px -2px 0 #f7345b, -2px -2px 0 #f7345b, -2px 2px 0 #f7345b, 2px 1px 0 #f7345b, 2px -1px 0 #f7345b, -2px -1px 0 #f7345b, -2px 1px 0 #f7345b, 2px 0px 0 #f7345b, 2px 0px 0 #f7345b, -2px 0px 0 #f7345b, -2px 0px 0 #f7345b, 1px 4px 0 #f7345b, 1px -4px 0 #f7345b, -1px -4px 0 #f7345b, -1px 4px 0 #f7345b, 1px 3px 0 #f7345b, 1px -3px 0 #f7345b, -1px -3px 0 #f7345b, -1px 3px 0 #f7345b, 1px 2px 0 #f7345b, 1px -2px 0 #f7345b, -1px -2px 0 #f7345b, -1px 2px 0 #f7345b, 1px 1px 0 #f7345b, 1px -1px 0 #f7345b, -1px -1px 0 #f7345b, -1px 1px 0 #f7345b, 1px 0px 0 #f7345b, 1px 0px 0 #f7345b, -1px 0px 0 #f7345b, -1px 0px 0 #f7345b, 0px 4px 0 #f7345b, 0px -4px 0 #f7345b, 0px -4px 0 #f7345b, 0px 4px 0 #f7345b, 0px 3px 0 #f7345b, 0px -3px 0 #f7345b, 0px -3px 0 #f7345b, 0px 3px 0 #f7345b, 0px 2px 0 #f7345b, 0px -2px 0 #f7345b, 0px -2px 0 #f7345b, 0px 2px 0 #f7345b, 0px 1px 0 #f7345b, 0px -1px 0 #f7345b, 0px -1px 0 #f7345b, 0px 1px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0 0 0 #f7345b;
		}
		.el__box{
			position: relative;
			&::after {
		    	content: '';
		    	position: absolute;
		    	top: 0;
		    	right: -15%;
		    	width: 58%;
				height: 72%;
		    	margin: 0 auto;
		    	background: url(../img/island2.png);
		    	background-repeat: no-repeat;
		    	background-size: contain;
		    	background-position: center;
		    	pointer-events: none;
		    	animation: 5s ease-in-out infinite Mousex;
		    }
		    img{
		    	animation: 1.5s ease-in-out infinite lightAnimation2;
		    }
			&>.row{
				&:not(:last-child){
					margin-bottom: 80px;
				}
			}
			ul{
				list-style: disc;
				padding-left: 16px;
				li{
					margin-bottom: 5px;
				}
			}
		}
		.el__item__title{
			font-weight: 400;
			font-size: 28px;
			line-height: 38px;
			text-transform: capitalize;
			color: #FFFFFF;
			text-shadow: 3px 3px 0 #223973, 3px -3px 0 #223973, -3px -3px 0 #223973, -3px 3px 0 #223973, 3px 2px 0 #223973, 3px -2px 0 #223973, -3px -2px 0 #223973, -3px 2px 0 #223973, 3px 1px 0 #223973, 3px -1px 0 #223973, -3px -1px 0 #223973, -3px 1px 0 #223973, 3px 0px 0 #223973, 3px 0px 0 #223973, -3px 0px 0 #223973, -3px 0px 0 #223973, 2px 3px 0 #223973, 2px -3px 0 #223973, -2px -3px 0 #223973, -2px 3px 0 #223973, 2px 2px 0 #223973, 2px -2px 0 #223973, -2px -2px 0 #223973, -2px 2px 0 #223973, 2px 1px 0 #223973, 2px -1px 0 #223973, -2px -1px 0 #223973, -2px 1px 0 #223973, 2px 0px 0 #223973, 2px 0px 0 #223973, -2px 0px 0 #223973, -2px 0px 0 #223973, 1px 3px 0 #223973, 1px -3px 0 #223973, -1px -3px 0 #223973, -1px 3px 0 #223973, 1px 2px 0 #223973, 1px -2px 0 #223973, -1px -2px 0 #223973, -1px 2px 0 #223973, 1px 1px 0 #223973, 1px -1px 0 #223973, -1px -1px 0 #223973, -1px 1px 0 #223973, 1px 0px 0 #223973, 1px 0px 0 #223973, -1px 0px 0 #223973, -1px 0px 0 #223973, 0px 3px 0 #223973, 0px -3px 0 #223973, 0px -3px 0 #223973, 0px 3px 0 #223973, 0px 2px 0 #223973, 0px -2px 0 #223973, 0px -2px 0 #223973, 0px 2px 0 #223973, 0px 1px 0 #223973, 0px -1px 0 #223973, 0px -1px 0 #223973, 0px 1px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0 0 0 #223973;
			margin-bottom: 24px;
		}


	}


	&-partners{
		position: relative;
		padding: 80px 0 50px;
		.sc__text{
			font-weight: 400;
			font-size: 18px;
			line-height: 32px;
			color: #F7345B;
			margin-bottom: 16px;
		}
		.el__item{
			display: block;
			margin-bottom: var(--bs-gutter-x);
			.dnfix__thumb{
				padding-top: 42%;
			}
		}
	}



	@media (max-width:1599px){
		&-header{
			.el__logo__text{
				img{
					max-height: 200px;
				}
			}
		}
		&-marketing{
			.sc__header{
				width: 100%;
				&:after {
				    top: 83%;
				    right: -29%;
				    width: 440px;
				    height: 350px;
				}
			}
			.sc__pattern:before{
				display: none;
			}

		}
		&-earn{
			.earn-tabs{
				.nav-link{
					width: 205px;
					height: 76px;
				}
			}
			&__ic{
				.-ic::after{
					display: none;
				}
			}
		}
		&-tokenmoics {
		    padding: 80px 0 60px;
		}
		&-roadmap {
		    padding: 60px 0;
		}

	}
	@media (max-width:1399px){
		&-gameplay{
			.tab-content{
				.el__items {
				    gap: 13px;
				}
			}
		}
		&-gategame{
			padding: 60px 0 160px;
			.el__header__icon{
				img{
					width: auto;
					max-height: 260px;
				}
			}
			.el__pattern:before {
			    left: 0;
			}
			.el__pattern:after {
			    right: 0;
			}
		}
		&-marketing{
    		font-size: 14px;

			.sc__header:after {
			    right: -10%;
			}
			.el__box ul .li__key {
			    font-size: 24px;
			    line-height: 32px;
			}

		}
		&-token{
			.sc-content {
			    padding: 60px 120px;
			}
		}
		&-tokenmoics{
   			padding: 80px 0 20px;
			.el__box__thumb img {
			    max-height: 100px;
			}
			.el__box {
			    width: 400px;
			    height: 400px;
			    margin-bottom: 100px;
			    &:before {
				    left: -48px;
				    width: 480px;
				    height: 480px;
				}
				&__percent{
					.el--1 {
					    top: 2%;
					    left: -21%;
					}
					.el--2 {
					    left: -25%;
					}
					.el--3 {
					   	top: 67%;
    					left: -23%;
					}
					.el--4 {
					   	top: 98%;
    					left: -4%;
					}
					.el--5 {
					    top: 77%;
					    left: 105%;
					}
					.el--6 {
					    top: -9%;
					    left: -1%;
					}
					.el--7 {
					    top: -16%;
					    left: 25%;
					}
					.el--8 {
					    top: -14%;
					    left: 80%;
					}
					.el--9 {
					    top: 0%;
					    left: 93%;
					}
					.el--10 {

					}
				}
			}
		}
		&-team{
			.sc__header__icon img {
			    max-height: 120px;
			}
		}
		&-records {
		    padding: 80px 0 60px;
		}

	}

	@media (max-width:1199px){
		&-gameplay{
    		padding: 80px 0 20px;
    		.sc__header__title.-large {
			    font-size: 62px;
			    line-height: 72px;
			}
			.el__excerpt {
			    font-size: 16px;
			}
		}
		&-gategame {
		    padding: 60px 0 100px;
		}
		&-clgt{
			.el__sub {
			    font-size: 20px;
			    line-height: 30px;
			    margin-bottom: 24px;
			}
		}
		&-earn{
			.el__box__title {
			    font-size: 13px;
			    line-height: 24px;
			}
		}
		&-marketing{
			.sc__header:after{
				width: 290px;
    			height: 240px;
				right: 0;
			}
		}
		&-records{
			padding: 60px 0 40px;
			font-size: 12px;
			.el__text {
			    font-size: 22px;
			    line-height: 32px;
			    text-shadow: 2px 2px 0 #f7345b, 2px -2px 0 #f7345b, -2px -2px 0 #f7345b, -2px 2px 0 #f7345b, 2px 1px 0 #f7345b, 2px -1px 0 #f7345b, -2px -1px 0 #f7345b, -2px 1px 0 #f7345b, 2px 0px 0 #f7345b, 2px 0px 0 #f7345b, -2px 0px 0 #f7345b, -2px 0px 0 #f7345b, 1px 2px 0 #f7345b, 1px -2px 0 #f7345b, -1px -2px 0 #f7345b, -1px 2px 0 #f7345b, 1px 1px 0 #f7345b, 1px -1px 0 #f7345b, -1px -1px 0 #f7345b, -1px 1px 0 #f7345b, 1px 0px 0 #f7345b, 1px 0px 0 #f7345b, -1px 0px 0 #f7345b, -1px 0px 0 #f7345b, 0px 2px 0 #f7345b, 0px -2px 0 #f7345b, 0px -2px 0 #f7345b, 0px 2px 0 #f7345b, 0px 1px 0 #f7345b, 0px -1px 0 #f7345b, 0px -1px 0 #f7345b, 0px 1px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0px 0px 0 #f7345b, 0 0 0 #f7345b;
			}
			.el__item__title {
			    font-size: 18px;
			    line-height: 28px;
			    text-shadow: 2px 2px 0 #223973, 2px -2px 0 #223973, -2px -2px 0 #223973, -2px 2px 0 #223973, 2px 1px 0 #223973, 2px -1px 0 #223973, -2px -1px 0 #223973, -2px 1px 0 #223973, 2px 0px 0 #223973, 2px 0px 0 #223973, -2px 0px 0 #223973, -2px 0px 0 #223973, 1px 2px 0 #223973, 1px -2px 0 #223973, -1px -2px 0 #223973, -1px 2px 0 #223973, 1px 1px 0 #223973, 1px -1px 0 #223973, -1px -1px 0 #223973, -1px 1px 0 #223973, 1px 0px 0 #223973, 1px 0px 0 #223973, -1px 0px 0 #223973, -1px 0px 0 #223973, 0px 2px 0 #223973, 0px -2px 0 #223973, 0px -2px 0 #223973, 0px 2px 0 #223973, 0px 1px 0 #223973, 0px -1px 0 #223973, 0px -1px 0 #223973, 0px 1px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0px 0px 0 #223973, 0 0 0 #223973;
			}
		}
		&-partners {
		    position: relative;
		    padding: 60px 0 40px;
		}
		&-token{
			.el__item__thumb {
			    width: 120px;
			    margin-bottom: 24px;
			}
			.sc-content {
			    padding: 60px 80px;
			}
		}
	}

	@media (max-width:991px){
		&-gameplay{
			.gameplay-tabs{
				overflow: auto;
			    &::-webkit-scrollbar {
				  display: none;
				}
			}
		}
		&-clgt{
			padding: 60px 0 30px;
			.el__header {
			    margin-bottom: 100px;
			}
		}
		&-earn {
		    padding: 60px 0 280px;
		    &:after {
			    bottom: 12%;
			    left: 0;
			    width: 40%;
			    height: 108%;
			    background-position: left bottom;
			}
		}
		&-marketing{
			padding: 60px 0 300px;
			.sc__header:after{
				display: none;
			}
			.sc__pattern{
				&--xe{
					&:before{
					    content: '';
					    position: absolute;
					    bottom: 0;
					    right: 0;
					    left: 0;
					    margin: auto;
					    width: 50%;
					    height: 54%;
					    background-image: url(../img/home-marketing-pattern-xe.png);
					    background-repeat: no-repeat;
					    background-size: contain;
					    animation: 2s ease-in-out infinite lightAnimation2;
					    background-position: bottom;
					}
				}
			}
		}
		&-team{
			.flickity {
			    --bs-gutter-x: 50px;
			}
		}
		&-roadmap{
			.sc__header{
				text-align: center;
			}
			&__slider{
				margin-left: 0;
			}
		}
	}

	@media (max-width:767px){
		&-marketing {
		    padding: 10px 0 300px;
		}
		&-token{
			padding: 30px 0 20px;
			&:before{
				height: 100%;
			}
			.sc-content {
			    padding: 0;
			    background: transparent;
			    border-radius: 0;
			}
			.el__col:first-child {
			    text-align: left;
			    .el__item__thumb {
				    margin-left: 0;
				}
			}
			.el__item {
			    padding: 16px;
			    background: #0F4A57;
			    border-radius: 16px;
			    margin-bottom: 24px;
			}
		}
		&-marketing{
			.sc__pattern--xe:before {
			    bottom: 5%;
			}
		}
		&-tokenmoics{
			.el__box {
				font-size: 14px;
			    width: 340px;
    			height: 340px;
			    margin-bottom: 60px;
			    &:before {
				    left: -50px;
				    width: 420px;
    				height: 420px;
				}
			    &__title {
				    font-size: 18px;
				    line-height: 21px;
				}
				&__thumb{
					margin-bottom: 16px;
					img {
					    max-height: 75px;
					}
				}
				&__number{
					font-size: 24px;
				}


				&__percent{
					>div {
					    font-size: 16px;
					    line-height: 16px;
					}
					>div>p:last-child{
						font-size: 12px;
					}
					.el--1 {
					    left: -25%;
					}
					.el--2 {
					    left: -30%;
					}
					.el--3 {
					    top: 67%;
					    left: -26%;
					}
					.el--4 {
					    top: 100%;
					    left: -6%;
					}
					.el--5 {
					    top: 79%;
					    left: 107%;
					}
					.el--6 {
					    top: -9%;
					    left: -4%;
					}
					.el--10 {
					    top: 18%;
					    left: 105%;
					}
				}
			}

		}
		&-roadmap{
			.el__item {
			    margin: auto;
			}

			.flickity-page-dots {
			    display: block;
			}
			.flickity-prev-next-button{
				top: 100%;
				transform: none;
				&.previous {
				    left: 0;
				}
				&.next {
				    right: 0;
				}
			}
		}
	}
	@media (max-width:575px){
		&-tokenmoics{
			.el__box {
				font-size: 8px;
			    width: 270px;
			    height: 270px;
			    margin-bottom: 100px;
			    &:before {
				    left: -8px;
				    width: 280px;
				    height: 280px;
				}
			    &__title {
				    font-size: 12px;
				    line-height: 21px;
				}
				&__thumb{
					margin-bottom: 16px;
					img {
					    max-height: 75px;
					}
				}
				&__number{
					font-size: 18px;
				}
				&__percent>div {
				    font-size: 12px;
				    line-height: 16px;
				}
				&__percent>div>p:last-child{
					font-size: 8px;
				}
			}

		}
	}
}