.footer{
	position: relative;
	padding: 180px 0 56px;

	font-weight: 400;
	font-size: 12px;
	line-height: 32px;
	color: rgba(255, 255, 255, .8);
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-size:cover;
	&::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 40%;
        max-height: 142px;
        background: url(../img/footer-top-mask.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        pointer-events: none;
    }

	.container{
		position: relative;
		z-index: 1;
	}
	a{
		color: rgba(255, 255, 255, .8);
		&:hover{
			color: #FFECA7;
		}
	}
	&__logo{
		display: block;
		animation: 2s ease-in-out infinite lightAnimation2;
	}
	&__item{
		position: relative;
		display: block;
		margin-bottom: 30px;
	}
	&__title{
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #FFFFFF;
		margin-bottom: 18px;
	}

	&__socical{
		display: flex;
		align-items:center;
		li{
			margin-bottom: 10px;
			&:not(:last-child){
				margin-right: 16px;
			}
		}
		a{
			position: relative;
			display: block;
			color: #fff;
			font-size: 24px;
			transition: all .5s;
			&:hover{
				color: #FFECA7;
			}
		}

	}

	@media (max-width: 1399px){

	}
	@media (max-width: 1199px){

	}
	@media (max-width: 991px){
		padding: 220px 0 30px;
		&__logo{
			margin-bottom: 50px;
		}
	}
	@media (max-width: 767px){
		margin-top: 60px;
		text-align: center;
		&::after {
	    	content: '';
		    position: absolute;
		    top: -20%;
		    left: 0;
		    right: 0;
		    width: 70%;
		    height: 50%;
		    margin: 0 auto;
		    background: url(../img/island2.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    background-position: center;
		    pointer-events: none;
		    animation: 3s ease-in-out infinite Mousex;
	    }
	    &__socical {
		    justify-content: center;
		}

	}
	@media (max-width: 575px){

	}
}